.class-container button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
}

.class-table {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0 10px;
}

.class-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-search input {
  width: 300px;
}

.class-search > span > span {
  margin-right: 10px;
}
