.student-table {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 15px;
}

.student-container > div > div:nth-child(1) > span {
  margin-left: 15px;
}

.student-container > button {
  width: 100%;
  margin-top: 15px;
  border-radius: 4px;
}
