.formation-list {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 500px;
  margin-bottom: 25px;
}

.formation-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
