.student-table {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0 10px;
  margin: 10px 0 15px;
}

.student-container > div > div:nth-child(1) > h5 {
  margin-top: 10px;
  margin-left: 20px;
}

.student-container > button:first-of-type {
  width: 100%;
  margin-top: 15px;
  border-radius: 4px;
}

.student-container > button:last-of-type {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
}

.student-container .student-note-final {
  margin: 25px 0 -5px;
}

.student-container .student-note-final button {
  transform: translateY(-12px);
}

.student-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-search input {
  width: 300px;
}

.student-search > div > button {
  margin-right: 10px;
}
